html, body {
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 800px) {
  body {
    box-sizing: border-box;
  }
}

.hidden {
  display: none;
}

.typography {
  color: "rgba(0, 0, 0, 0.54)";
}
