html, body {
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  body {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
