.iconButton {
  padding-top: 2.5px !important;
  margin-right: 14px !important;
  opacity: 1;
}

.nav {
  position: relative;
  padding: 14px;
  top: 0px;
  z-index: 2;
}

.right {
  align-items: center;
  display: flex;
  float: right;
  justify-content: right;
}
