.dropdownIconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  padding-left: 5px;
}

.titleContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
