.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search {
  opacity: 1;
  padding: 0.25em 0.5em;
  width: min(400px, 80%);
}

.title {
  margin-bottom: 15px;
  pointer-events: none;
  z-index: 1;
}
